/* SignupPage.css */

.signup-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        text-align: center; /* Pour centrer le contenu */
        margin-top: 100px;
        padding-right: 40px;
}

.signup-container h1 {
        text-align: center;
}

.input-wrapper {
        margin-bottom: 10px;
        text-align: left; /* Aligner le texte à gauche */
}

.input-wrapper input {
        width: 100%; /* Remplir la largeur du conteneur parent */
        padding: 8px;
        border-radius: 3px;
        border: 1px solid #ccc;
}

button {
        width: 100%; /* Remplir la largeur du conteneur parent */
        padding: 10px;
        border-radius: 3px;
        border: none;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        margin-top: 25px;
}

button:hover {
        background-color: #0056b3;
}

      