html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-items: center;
    height: 100vh; /* Make the container take up full height of the viewport */
}

.Panel {
    background-color: #beb9f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 300px;       /*A corriger*/
}
