#couverture{
    width: 100%;
    height: auto;
    border-radius: 0%; /* Pour une forme circulaire */
    margin: 10px;
}

p{
    margin-left: 20px;
}

#user{
    font-weight: bold; /* Met le texte en gras */
    font-size: 24px; /* Définit la taille de la police à 24 pixels */
}