.PF{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}

#title{
    background-color: #beb9f7;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}