#input textarea{
    width: 500px;
    height: 100px;
    padding: 20px;
    border: 2px solid #362c2c;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    background-color: #b9aeff; 

    resize: vertical;
    min-height: 100px; /* Définissez ici la hauteur minimale désirée */
}
